<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yaksok.mapper.YaksokMapper">

	<!-- 샘플 테스트 -->
	<select id="totalCount" resultType="int">
		select count(*) cnt from tab
	</select>
	
	<!-- yaksok_column -->
	<sql id="yaksok_column">
		yidx, yaksokname, indate, idx
	</sql>
	
	<!-- ================================================================================= -->

	<!-- 아이디로 모든 약속 부르기 -->
	<select id="selectAllYaksok" resultType="yaksok.model.YaksokVO"
	parameterType="string">
		select 
		<include refid="yaksok_column"/>
		from yaksok where idx=#{idx} 
	</select>
	
	<!-- 약속 등록 -->
	<insert id="insertYaksok" parameterType="yaksok.model.YaksokVO">
		insert into yaksok 
		(<include refid="yaksok_column"/>)
		values(yaksok_seq.nextval, #{yaksokname}, sysdate, #{idx})
	</insert>
	
	<!-- 키 값으로 해당 약속 정보 부르기 -->
	<select id="selectYaksokInfo" resultType="yaksok.model.YaksokInfoVO"
	parameterType="string">
		select * from yaksok_info where yidx=#{value}
	</select>
	
</mapper>